@use 'base/normalize';
@use 'base/reset';
@use 'components/card';
@use 'components/section';
@use 'components/hamburger-button';
@use 'components/banners';
@use 'components/fontStyle';
@use 'pages/form';
@use 'pages/us';
@use 'layout/header';
@use 'layout/nav';
@use 'layout/footer';

//bureau
//maldon
//ruibal
//diset
*{
    padding: 0;
    margin: 0;
}


body{
    background-color:rgb(36, 0, 70);
    
}
.background-form{
    background: rgb(36, 0, 70);
    background: linear-gradient(90deg, rgba(36, 0, 70, 1) 0%, rgba(86, 55, 115, 1) 84%);
}

.main-nav-toggle {
    display: none;
}

.main-nav-toggle:checked~.main-header .main-nav {
   display: block;
}

.section-card{
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: 150px;
}
/*mobile-first*/
// .cards--container {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 1em;
//     justify-content: center;
// }