// @media(min-width: 320px) {}
// @media(min-width: 480px) {}
// @media(min-width: 768px) {}
// @media(min-width: 1024px) {}
// @media(min-width: 1200px) {}

:root {
    --colorTextos: #49454567;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: 700;
}

button {
    font-family: 'roboto';
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(36, 0, 70), #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(36, 0, 70), #9845dc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    display: block;
    width: 80%;
    height: 40px;
    margin: 10px auto;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

/**************************************************************************************************/
/*///////////////////////--- > form-alta <---     media ZONE --- /////////////////////////////////*/
/**************************************************************************************************/
.form-alta {
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius:50px;

    &__content {
        width: 90%;
        height: 500px;
        margin: auto;
        border-radius: 20px 0;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 5%;
        justify-content: center;
        background-color: #fff;

    }

    &__group {       
        position: relative;
        // background-color:  red;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(67, 67, 67, 0.8);
        margin-left: 10px;
        margin-top: 20px;
        width:100%;
        height: 40%;
    }

    &__input {
        background: none;
        color: #000000;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        position: relative;
        display: block;
        width: 50%;
        border: none;
        
        
    }

    &__input:focus {
        outline: none;
        color: #5e5d5d;
    }

    &__input::before {
        content: "";
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, rgb(36, 0, 70), #4568DC);
        transition: 0.3s ease width;
        left: 0;
    }

    &__label {
        // color: var(--colorTextos);
        color: rgb(0, 0, 0);
        font-size: 16px;
        position: absolute;
        left: 5px;
        top: 10px;
        transition: 0.5s ease all;
        pointer-events: none;
    }

    &__input:focus~&__label,
    &__input:focus~&__label {
        top: -14px;
        font-size: 12px;
        color: #2196f3;
    }

    input:focus~&__input::before {
        width: 100%;
    }


}
/**************************************************************************************************/
/*///////////////////////--- > form-contact <--- media ZONE --- /////////////////////////////////*/
/**************************************************************************************************/
@media(min-width: 320px) {
    .form-contact {
        // formulario de contacto
        background: rgba(255, 255, 255, 0.7);
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        margin-top: 15%;
        box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
        border-radius: 10px;


        &__image {
            display: none;
        }

        &__content {
            width: 90%;
            padding-top: 10%;
            padding-left: 10%;
            margin: 0;

        }

        &__group {
            position: relative;

        }

        &__input {
            background: none;
            color: #000000;
            margin: 0;
            font-size: 14px;
            position: relative;
            display: block;
            border: none;
            border-bottom: 1px solid var(--colorTextos);
            height: 70px;
            width: 200px;

        }

        &__input:focus {
            outline: none;
            color: #3100a5;
        }

        &__input::before {
            content: "";
            height: 2px;
            width: 0%;
            bottom: 0;
            position: absolute;
            background: linear-gradient(to right, rgb(36, 0, 70), #4568DC);
            transition: 0.3s ease width;
            left: 0;
        }

        &__label {
            color: var(--colorTextos);
            font-size: 16px;
            position: absolute;
            left: 5px;
            top: 10px;
            transition: 0.5s ease all;
            pointer-events: none;

        }

        &__input:focus~&__label,
        &__input:focus~&__label {
            top: -14px;
            font-size: 12px;
            color: #012747;
        }

        input:focus~&__input::before {
            width: 100%;
        }
        button {
            position: relative;
            left: 30%;
            font-size: 14px;
            width: 40%;
            margin: 50px auto;
        }

        @media(min-width: 480px) {

            &__input {
                background: none;
                color: #000000;
                margin: 0;
                font-size: 14px;
                position: relative;
                display: block;
                border: none;
                border-bottom: 1px solid var(--colorTextos);
                height: 70px;
                width: 320px;
                margin-bottom: 15px;
            }

            button {
                width: 20%;
                margin: 50px auto;
            }
        }

        @media(min-width: 768px) {
            margin: 2% auto;
            &__input {
                background: none;
                color: #000000;
                margin: 0;
                font-size: 14px;
                position: relative;
                display: block;
                border: none;
                border-bottom: 1px solid var(--colorTextos);
                height: 70px;
                width: 500px;
                margin-bottom: 15px;
            }

            button {
                width: 15%;
                margin: 50px auto;
            }
        }

        @media(min-width: 1024px) {
            // margin: 2% auto;

            &__content {
                padding: 0;
                padding-left: 10%;
            }

            &__image {

                display: block;
                margin: 0 auto;
                width: 50%;
                height: 10%;
            }

            &__input {
                background: none;
                color: #000000;
                margin: 0;
                font-size: 14px;
                position: relative;
                display: block;
                border: none;
                border-bottom: 1px solid var(--colorTextos);
                height: 70px;
                width: 750px;
                margin-bottom: 15px;
            }
        }

        @media(min-width: 1200px) {
            // margin: 2% auto;

            &__image {
                display: block;
                margin: 0 auto;
                width: 60%;
                height: 10%;
            }

            &__input {
                background: none;
                color: #000000;
                margin: 0 auto;
                font-size: 14px;
                position: relative;
                display: block;
                border: none;
                border-bottom: 1px solid var(--colorTextos);
                height: 70px;
                width: 700px;
                margin-bottom: 15px;
            }

            button {
                width: 10%;
                margin: 50px auto;
            }

        }


        @media(min-width: 1700px) {
            // margin: 2% auto;

            &__image {
                display: block;
                margin: 0 auto;
                width: 50%;
                height: 10%;
                float: right;
            }

            &__input {
                background: none;
                color: #000000;
                margin: 0;
                font-size: 14px;
                position: relative;
                display: block;
                border: none;
                border-bottom: 1px solid var(--colorTextos);
                height: 70px;
                width: 600px;
                margin-bottom: 15px;

            }

            button {
                width: 10%;
                margin: 50px auto;
            }
        }

    }
}